<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>first page</title>
</head>
<body>
<img  src="Photos/image.jpg">
<ol type="A">orange</ol>
<ol>apple</ol>
<ol>mango</ol>
<ol>banana</ol>
Hello
<h1 align="left"><u><font colur="red">Hello &nbsp World</font></u></h1>
<h2>This is my new paragraph</h2>
12<sup>th</sup>
H<sub>2</sub>O
<p>
<b>What This Handout Is AboutWhat Is A paragraph?</b>How Do I Decide What to Put in A paragraph?How Do I Organize A paragraph?5-Step Process to Develop A Paragraph That Illustrates A PointTroubleshooting ParagraphsWorks Consulted
Paragraphs are the building blocks of papers. Many students define paragraphs in terms of length: a paragraph is a group of at least five sentences, a paragraph is half a page long, etc. In reality, though, the unity and coherence of ideas among sentences is what constitutes a paragraph.
</p>
<p>Paragraphs are the building blocks of papers. Many students define paragraphs in terms of length: a paragraph is a group of at least five sentences, a paragraph is half a page long, etc. In reality, though, the unity and coherence of ideas among sentences is what constitutes a paragraph.
</p>

</body>
</html>