<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="NewFile.css" rel="stylesheet">
</head>
<body>
    <table>
    <caption>My Table</caption>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>City</th>
        </tr>
        <tr>
            <td>keshav khaire</td>
            <td>nandurdi,niphad</td>
            <td>3546456</td>
            <td>Nashik</td>
        </tr>
        <tr>
            <td>devansh</td>
            <td>nashik</td>
            <td>565656</td>
            <td>nashik</td>
        </tr>
    </table>
</body>
</html>